@page "/add-book"
@using BSMSClient.Services
@using BSMSShared.DTO
@using BSMSShared.Models
@inject BookStoreGraphQLService BookStoreService
@inject NavigationManager NavigationManager

<h3>Add Book</h3>
<div class="row">
    <div class="col-lg-2">
        <label>Title</label>
    </div>
    <div class="col-lg-2">
        <input style="width:100%" @bind="book.Title" placeholder="Book title" />
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <label>Price</label>
    </div>
    <div class="col-lg-2">
        <input style="width:100%" @bind="book.Price" placeholder="Book price" />
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <label>Select Author</label>
    </div>
    <div class="col-lg-2">
        <select @bind="book.AuthorId" class="form-select">
            <option value="">Select Author</option>
                @foreach (var author in authors)
                {
                    <option value="@author.Id">@author.Name</option>
                }
        </select>
    </div>
</div>

<button class="btn-primary" @onclick="AddNewBook">Add</button>

@code {
    private BookDto book = new BookDto();
    private List<AuthorDto> authors = new List<AuthorDto>();

    protected override async Task OnInitializedAsync()
    {
        authors = await BookStoreService.GetAuthorsAsync();
    }

    private async Task AddNewBook()
    {
        await BookStoreService.AddBookAsync(book);
        NavigationManager.NavigateTo("/books");
    }

}